body{
        background-image: url("https://images.hdqwalls.com/wallpapers/purple-nebula-4k-lu.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(8px);
        /* border: 3px solid white; */


    }
    header{
        position: sticky;
        height: 110px;
        color: rgb(245, 253, 255);
    }
    header h1{ 
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        padding: 20px;
        font-family: 'Kiwi Maru', serif;
        
    }
    #first{ 
        font-family: 'Kiwi Maru', serif;
        color: #1b2021;
        text-align: left ;
        margin-left: 5%;

    }
    #second{
        font-family: 'Kiwi Maru', serif;
        color: #1b2021 ;
        text-align: left ;
        margin-left: 5%

    }
    h3,h1{
        font-size: 30px;
        padding-top: 3%;
    }
    .work{
        font-size: 20px;
    }
    .series{
        font-size: 20px;
        padding-bottom:5% ;
    }

    footer{
        height:30px ;
        text-align: center ;
        line-height: 30px ;
    }

