    header{
        position: sticky;
        height: 110px;
        color: rgb(14, 79, 99);
        background-image: linear-gradient(to right,#5f939a, #d8ac9c, #eac8af);
        margin: 0%;
    }
    header h1{ 
        text-align: center;
        font-size: 50px;
        padding: 20px;
        
    }
     
    main{
        background-color: #eac8af ;
        margin-bottom: 0%;

    }
    #first{
        color: #5f939a;
        text-align: left ;
        margin-left: 5%;

    }
    #second{
        color: #1b2021 ;
        text-align: left ;
        margin-left: 5%

    }
    h3,h1{
        font-size: 30px;
        padding-top: 3%;
    }
    .work{
        font-size: 20px;
    }
    .series{
        font-size: 20px;
        padding-bottom:5% ;
    }

    footer{
        height:30px ;
        text-align: center ;
        line-height: 30px ;
    }

